.user-component {
  justify-content: space-between;
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__column:last-child {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 600;
}
.user-component__column:last-child:not(span) {
  color: rgba(0, 0, 0, 1);
}
.user-component__column:last-child span i {
  margin-left: 5px;
}
.user-component__img {
  width: 65px;
  height: 65px;
  border-radius: 27px;
  display: flex;
  margin-right: 18px;
}
.user-component__img--xl {
  width: 88px;
  height: 88px;
  border-radius: 36px;
}
.user-component__img--md {
  width: 78px;
  height: 78px;
  border-radius: 31px;
}
.user-component__text {
}
.user-component__name {
  font-size: 27px;
  font-weight: 700;
}
.user-component__name--not-bold {
  font-weight: 600;
  font-size: 25px;
}
.user-component__subtitle {
  margin-top: 8px;
  color: rgb(0, 0, 0, 0.4);
  font-size: 20px;
  font-weight: 600;
}
.user-component__time {
  margin-bottom: 9px;
  margin-top: 2px;
  display: block;
  font-size: 18px;
}
